<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <pattern>%-10d{mm:ss.SSS} %level - %msg %X{JoinedMdc}%n</pattern>
        </encoder>
    </appender>

    <logger name="endless.transaction.example.app.AccountsApp" level="WARN"/>
    <logger name="endless.transaction.example" level="INFO"/>
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>